.freeProducts {
    padding: 3rem 3rem;
    margin: auto;
    width: 70%;
}

.freeProductsHeading {
    font-size: 1.8rem;
    font-weight: bold;
}

.freeProductsList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
    padding-top: 2rem;
}

.freeProduct {
    width: 32.1%;
}

.freeProductImg {
    width: 100%;
}

.freeProductTitle {
    font-size: 1.2rem;
    font-weight: 500;
}